.github
.husky
.vscode
extension/
node_modules
patches/
src/
types/
.gitattributes
.gitignore
.lintstagedrc.json
.release-it.json
auto-imports.d.ts
tsconfig.json
commitlint.config.ts
components.d.ts
index.html
.editorconfig
.prettierignore
.prettierrc.json
eslint.config.ts
pnpm-lock.yaml
pnpm-workspace.yaml
env.d.ts
tsconfig.app.json
tsconfig.node.json
vite.config.ts